<!DOCTYPE html>
<html lang="pl-PL">
<head>
    <meta charset="UTF-8">
    <meta content="text/html">
    <title>Books API</title>

</head>
    <body>
        <h3>Welcome, below are all the books you can find in our database!</h3>

        <form action='/books' method="GET">
          <label for="pyear">Enter publish year of your interest</label>
          <input type="text" id="published_date" name="published_date">
            <br>
            <br>
          <button type="submit">Filter by year</button>
        </form>
        <div>
        <a href="/books?sort=published_date">Sort by published date ascending</a>
        </div>
        <div>
        <a href="/books?sort=-published_date">Sort by published date descending</a>
        </div>
        <div>
        {% for book in all_book_volumes_list %}
            {% for key, value in book.items() %}
                <p>{{key}}: {{value}}</p>
            {% endfor %}
        {% endfor %}
        </div>
    </body>
</html>
